/* start dl-menu CSS____________________________________________________________________*/

.dl-menuwrapper {
  padding: 30px 0 0 12px; /* left padding for center navigation wrap*/
  @media @nav-mobile {
    padding: 30px 0 0 0px;
  } 
  
  .dl-menu-toggle {
    transition: all 0.3s ease;
  }

  .dl-menuopen {
    opacity: 1;
    pointer-events: auto;
  }

  /* Hides the inner submenus */
  .dl-submenu {
    display: none;
  }
}

ul.dl-menu {  
  margin: 14px 0 0 0;
  position: absolute;
  width: 79%;
  opacity: 0;
  pointer-events: none;
  padding: 0;
  margin-right: 100px;
  list-style: none;
  
  li {
    position: relative;
    vertical-align: baseline;
    padding: 0;
    a {
      position: relative;
      float:left;
      display:block; 
      width:100%;
      font-size: .875rem;
      padding:5px 8px;
      line-height: 1.5em;
      font-weight: 400;
      color: #fff;
      outline: none;
    }
    .hilite {
      color:@color-highlight;
    }
    .fa {
      font-size:10px; 
      font-weight: normal;
      padding-top:5px;
      color: #ffffff;
      float:right !important;
    }
    .fa-chevron-right {
      float:right !important;
    }
    .fa-chevron-left {
      float:left !important;
      padding: 6px 8px 4px 0;
    }
    a:hover {
      background: rgba(255,248,213,0.1);
      
    }
  }
}
  
  
  .dl-menuwrapper button:hover,
  .dl-menuwrapper button.dl-active,
  .dl-menuwrapper ul {
    background: transparent;
  }
  
  /* 
  When a submenu is openend, we will hide all li siblings.
  For that we give a class to the parent menu called "dl-subview".
  We also hide the submenu link. 
  The opened submenu will get the class "dl-subviewopen".
  All this is done for any sub-level being entered.
  */
  .dl-menu.dl-subview li,
  .dl-menu.dl-subview li.dl-subviewopen > a,
  .dl-menu.dl-subview li.dl-subview > a {
    display: none;
  }
  
  .dl-menu.dl-subview li.dl-subview,
  .dl-menu.dl-subview li.dl-subview .dl-submenu,
  .dl-menu.dl-subview li.dl-subviewopen,
  .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
  .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
  }
  
  /* Dynamically added submenu outside of the menu context */
  .dl-menuwrapper > .dl-submenu {
    width: 100%;
    position:relative;
    top: 5px;
    left: 0;
    margin: 0;
  }
  
  /* Animation classes for moving out and in */ 
  .dl-menu.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.5s ease-in-out;
    animation: MenuAnimOut2 0.5s ease-in-out;
  }
   
  @-webkit-keyframes MenuAnimOut2 {
    0% { }
    100% {
      -webkit-transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes MenuAnimOut2 {
    0% { }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      opacity: 0;
    }
  }
    
  .dl-menu.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out;
  }
  
  @-webkit-keyframes MenuAnimIn2 {
    0% {
      -webkit-transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0px);
      opacity: 1;
    }
  }
  
  @keyframes MenuAnimIn2 {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 5s ease-in-out;
    animation: SubMenuAnimIn2 5s ease-in-out;
  }
  
  @-webkit-keyframes SubMenuAnimIn2 {
    0% {
      -webkit-transform: translateX(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes SubMenuAnimIn2 {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out;
  }

  @-webkit-keyframes SubMenuAnimOut2 {
    0% {
      -webkit-transform: translateX(0%);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(100%);
      opacity: 0;
    }
  }
  
  @keyframes SubMenuAnimOut2 {
    0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  /*  end dl-menu CSS____________________________________________________________________*/