

/* MEGA MENU -------------------------------------------*/
@megamenu-bg-center: linear-gradient(to bottom, rgb(34, 46, 61), #000812);
@title-color: #787C82;

.mega-menu {
  font-size: .875rem;
  position: absolute;
  z-index: 1009;
  top: 42px;
  /* we must adjust this to match navbar height */
  left: 0;
  right: 0;
  display: none;
  padding-top: 0;
  background-color: transparent;
  animation-duration: 1.1s;

  ul li a {
    line-height: 2;
    font-size: 14px;
    display: block;
  } 
  &__wrap {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 50%;
    max-height: 70%;
    @media @nav-mobile {
      flex-direction: column;
      max-height: 100%;
    }
  }
  &__skew {
    transform: skew(-10deg, 0deg);
    transform-origin: bottom left;
    outline: 1px solid transparent; // important! this get rid of jagged edges in chrome
    padding: 0;
    @media @nav-mobile {
      transform: none;
    }
    &--left {
      flex-basis: 30%;
      min-width: 320px;
      /* We need this offset to the left.  It compensates for left-side angle so columns are centered on the page */
      margin-left: -95px;
      z-index: 10;
      @media only screen and (min-width: 1161px) and (max-width: 1279px) {
        flex-basis: 32%;
      }
      @media @nav-tablet {
        flex-basis: 60%;
      }
      @media @nav-mobile {
        display: none;
      }
    }
    &--center {
      position:relative;
      z-index:10;
      flex-basis: 38%; 
      background: @megamenu-bg-center;
      overflow:hidden;
     
      @media only screen and (min-width: 1161px) and (max-width: 1279px) {
        flex-basis: 32%;
      }
      @media @nav-tablet {
        flex-basis: 85%;
      }
      @media @nav-mobile {
        .mega-menu__title {
          display: none;
        }
      }
    }
    &--right {
      flex-basis: 42%;
      @media @nav-tablet {
        display: none;
        flex-basis: 0%;
      }
    }
  }
  &__unskew {
    transform: skew(10deg, 0deg);
    text-rendering: geometricPrecision;
    height: 34rem; /* this controls the menu height and must be a fixed height */
    margin-left: 45px;
    color: #FFF;
    @media @nav-mobile {
      transform: none;
      margin-left: 0px;
    }
    a {
      color: #fff;
    }
    @media only screen and (max-width: 1024px) {
      // transform: skew(0deg, 0deg);
    }
  }
  &__header {
    position:relative;
    height:180px;
    &--image {
      height: 165px;
      width: 429px;
    }
    .industry-image {
      display:block;
      object-fit: fill;
    }
  }
  &__title {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 600;
    color: @title-color;
    margin-bottom: 6px;
    padding-left: 8px;
  }
  &__left-content {
    position:absolute;
    margin-top: -22px;
    background-color: transparent;
    margin-left: 10px;
    padding: 20px 0;
    max-width: 85%;
    height: 100%; 
    backface-visibility: hidden; // important: fixes blurry text on chrome.
    //  @media only screen and (max-width : 1280px){ 
    //     padding-Left: 10px;
    //     margin-left:10%;
    //  }
    .inactive {
      display:none;
    }
    .active {
      display: block
    }

    &__title {
      display:flex;
      flex-flow: row wrap;
      align-items: center;
      h2 {
        display: inline-block;
        max-width: 75%;
        font-weight: 600;
        font-size: 2.2em;
        margin-bottom: 10px;
        @media only screen and (min-width:840px) and (max-width: 1160px){
          font-size: 1.9em;
        }
      }
      .inactive {
        display:none;
      }
      .active {
        display: block
      }
    }
    &__desc {
      line-height: 1.6;
      font-size: .825rem;
    }
    &--hr {
      height: 2px;
      width: 30%;
      margin-top: 14px;
    }
    &__links {
      margin-top: 14px;
      .inactive {
        display:none;
      }
      .active {
        display: block
      }
      a {
        display: block;
        padding: 6px 6px 6px 0px;
        margin-top: 3px;
      }
      a:hover {
        background: rgba(255, 248, 213, 0.1);
      }

    }
    &__switcher { // toggled by JS 
      width:65px;
      position: absolute;
      right: -43px;
      top:21px;
      font-size: .825rem;
      cursor: pointer;
    }
  }
  &__right-content {
    background-color: transparent;
    margin-left: -5px;
    padding: 30px 10px 10px 10px;
    max-width: 85%;
    height: 100%;
    backface-visibility: hidden; // important: fixes blurry text on chrome.
  
    &__links {
      margin-top: 14px;
      margin-left:11px;
      display: flex;
      flex-direction: column;
      &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        img {
          height: 40px;
          @media @mobile {
            display: none;
          }
        }
        a {
          width: 84%;
          display: block;
          padding: 6px 6px 6px 0px;
          margin-top: 3px;
          line-height: 1.4;  
        }
        a:hover {
          background: rgba(255, 248, 213, 0.1);
        }
        span {
          display: block;
          padding-top: 6px;
          font-size: .75rem;
          text-decoration: underline;
        }
      }
    }
  } 
}

/* end mega-menu */

/* ON CLICK TOGGLE */

.megaOpen {
  display: block;
  @media @mobile {
    display: none;
  }
}

/* MOBILE ONLY ------------------------------------ */

.mega-menu__mobile {
  background: @megamenu-bg-center;
}