.topnav2__mobile-slide-panel {
  width: 0vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: -110%; /* off screen default */
  z-index: 100;
  overflow: auto;;
  transition: ease-in 0.5s;
  color: #fff;
  font-size: 14px;
  list-style: none;
  margin:0;
  display:flex;
  flex-flow: row nowrap;

        &__header {
          padding-bottom: 35px;
          height:145px;

              p.desc {
                padding: 16px 20px;
              }
              &--heading {
                .shadow(0px 2px 25px 10px rgba(0, 0, 0, 0.15));
                padding: 10px;

                  h1{
                    font-size: 1.5rem;
                    margin: 4px;
                    padding-left: 10px;
                  }
                  p.switch {
                    margin-left: 63px;
                    font-size: .75rem;
                    .fa-chevron-down {
                      margin-left:10px;
                      font-size: 0.75rem;
                    }
                  }
              }
              &--img {
                height: 24px;
              }
              &--links {
                color: #000;
                display: flex;
                justify-content: center;
                position:relative;
                bottom: 32px;

                ul {
                  display: flex;
                  flex-wrap: nowrap;
                  align-items: stretch;
                  justify-content: space-evenly;
                  width: 90%;
                  background-color: #FFF;
                  border-radius: 4px;
                }
                li {
                  display:inline-block;
                  padding: 4px 0px 8px 0;
                  width:30%;
                  @media @mobile-first {
                    width: 48%;
                  }
                  a {
                    color: #000;
                    padding: 5px 10px 15px 0px;
                    border-left: 1px solid #ccc;
                  }
                  .fa {
                    font-size: 24px;
                    vertical-align:middle;
                    padding: 8px 0px 0px 10px;
                  }
                  .text {
                    display:table-cell;
                    width:60px;
                    padding-left: 10px;
                    font-size: 12px;
                  }
                }
                li:first-child > a {
                  border: none;
                }

                @media @mobile-strict {
                  li:last-child {
                    display:none;
                  }
                }
              }
        }

        &__list {
          width:100%;
          background-color: #000
        }

        &__items {
          background-color: #000;
          margin-top: -20px;
            a {
              font-size: 14px;
              padding: 12px 0 12px 20px;
              text-align: left;
            }
        }

        &__close {
          height:100%;
          flex: 1 1 0;
          min-width: 50px;
          text-align: right;
            span {
              width: 32px;
              text-align:center;
            }
            .fa-close {
              font-size: 1.2rem;
            }
        }

        // helper classes for mobile slide-out panel ----------------------------------       
        .flex-row-nowrap {
          display:flex;
          flex-flow: row nowrap;
          align-items: center;
        }
}

.topnav2__mobile-slide__items a {
  padding: 16px 0;
  display: block;
  text-indent: 16px;
  transition: background 0.5s ease-in;
}

.mobileNavIsOpen {
  overflow: hidden;
  height: 100%;
}
.slideisOpen {
  left: 0px;
  width: 100vw;
}
.subnav {
  top:0;
}
.closeLevel, .openLevel {
  cursor: pointer;
}