.topnav2 {
  // Tiles menulLayout for desktop
  &__switch-tiles {
    .flexbox;
    .flex-flow(row wrap);
    .justify-content(space-around);
    position: relative;
    z-index: 11;
    left: 0;
    top: 200px;
    height: 280px;
    width: 366px;
    color: #fff;
    background-color: #242424;

      &--visible {
        display: none;
      }
      &__tile {
        width: 33.3%;
        height:25%;
        padding-top: 10px;
        padding-left: 8px;
        box-sizing: border-box;
        background: linear-gradient(to bottom right, #1E1E1E 10%,#303030 50%,#1C1B1D 90%);
        display: table-cell;
        border-collapse: collapse;
        display: block;  
        max-width:100%; // for ie flex-box, or wont wrap
        &:last-child {
          border-left:3px solid #999;
        }
      }
      &--title {
        display:block;
        position: relative;
        top: 4px;
        text-align:left;
        font-size: .725rem;
      }
      &--close {
        display:block;
        position: relative;
        top: 20px;

        font-size: .750rem;
        
      }

      [class*=" icon-"] {
        line-height: 2;
      }
  }



  // Tiles layout for mobile slide-in menu.
  &__switch-tiles {
      &__mobile {
        .flexbox;
        .flex-flow(row wrap);
        .justify-content(space-around);
        position: absolute;
        z-index: 11;
        left: 0;
        top: 205px;
        height: 280px;
        width: 100%;
        color: #fff;
        background-color: #242424;

        &--hidden {
          display: none;
        }
        
        &__tile {
          width: 33.3%;
          height:25%;
          padding-top: 10px;
          padding-left: 8px;
          box-sizing: border-box;
          background: linear-gradient(to bottom right, #1E1E1E 10%,#303030 50%,#1C1B1D 90%);
          display: table-cell;
          border-collapse: collapse;
          display: block;  
          max-width:100%; // for ie flex-box, or wont wrap
          &:last-child {
            border-left:3px solid #999;
          }
        }
        &--title {
          display:block;
          position: relative;
          top: 4px;
          text-align:left;
          font-size: .725rem;
        }
        
        &--close {
          display:block;
          position: relative;
          top: 20px;
    
          font-size: .750rem;
          
        }
      }
  }
}

.switch-tiles-wrapper { 
  // need this to be able to have tiles outside of z-index context 
  // and position relative to left edge of left column. 
  height:1px;
  max-width: 1280px;
  margin: auto;
  background: transparent;
}