/* Texts */
@color-white: #ffffff;
@color-black: #000000;
/* Buttons */
@color-btn-border: #dbdbdb;
@color-btn-default: #0866b1;
@color-btn-default-icon: #044cb7;
@color-btn-alternate: #bdc205;
@color-btn-alternate-icon: #a8ad0a;
/* PALL Pallete */
@color-pallblue: #184d9d;
@color-charcoal: #3a3a3a;
@color-charcoal1: #444444;
@color-charcoal2: #1b1b1b;
@color-charcoal3: #2b2a2a;
@color-highlight: #bdc205;
@color-microelec: #80a546;
@color-aerospace: #33ace0;
@color-oilgas: #541801;
@color-laboratory: #41a9b8;
@color-biopharma: #1098d2;
@color-chemicals: #599d76;
@color-power: #e96f14;
@color-industrial: #222a4a;
@color-medical: #1b8bea;
@color-food: #3a7e07;
@color-greystrip: #f4f4f4;
/* Pall Water Pallete */
@color-pallwater: #0a48a3;
@color-municipal: #7f9a27;
@color-miningmetals: #ab7a11;
@color-powergeneration: #8b2c2c;
@color-pulppaper: #5a6380;
@color-pharmaceuticals: #2c7ec4;
@color-foodbeverage: #a0389a;
@color-refiningchemicals: #3f8928;
@color-semiconductor: #634297;
@color-ariafast: #0099a9;
@color-ariafit: #592c82;
@color-ariaflex: #009579;
@color-ariacare: #0866b1;
@color-impro: #ee7624;
/* Article */
@color-article-bg: #3a3a3a;
@color-calendar-day: #444444;
/* Bulleted List */
@color-lear-more-link: #0c6cb6;
/* Event */
@color-event-count-text-bg: #202020;
@color-event-count-graph-bg: #272a2d;
/* Countdown */
@color-count-down-stroke: #80a604;
/* Footer */
@color-footer-bg: #424242;
@color-topnav-search-text: #dfdfdf;
/* related articles */
@color-related-articles-even: #F7F7F7;
/* search component */
@color-search-header-input: #666666;
@color-search-separator: #9dd4dc;
@color-search-item-input: #cccccc;
@color-search-links: #0a48a3;
/* Alert */
@color-alert: #b40505;
/* Top Nav */
@color-pall-logo: #0866b1;
/* Forms */
@color-form-link-not-selected: #999999;
@color-search-form-input: #dbdbdb;
@color-cta-form-border: #7b7b7b;
/* body text */
@color-text: @color-charcoal1;
@color-border: @color-search-item-input;
/* Application list */
@color-application-list-border: #eaeaea;
/* locations */
@color-header-shadow: #AAAAAA;
