@mobilenav-height: 42px;

.topnav2 {
	&__nav {
		&__container {	
			&--mobile {
								@media  @mobile {
									display: block;
								}
								@media  @desktop {
									display: none;
								}
								&__icon {
									font-size: 20px;
									&.icon-pall {
										font-size: 15px;
									}
									&.icon-back-arrow {
										font-size: 15px;
									}
									&.icon-close {
										font-size: 15px;
									}
									&.fa-globe {
										font-size: 25px;
									}
								}
								&__subnav {
									&--global {
										height: 100%;
									}
									&__items { // Slide in Sub navigation items like segments etc.
										width: 100%;
										position: absolute;
										top: 205px;
										height: calc(100% - 205px);
										left: -110%; /* off screen default */
										overflow: hidden;
										background-color: #000;
										transition: ease-in-out 0.3s;
										color: #fff;
										font-size: 14px;
										list-style: none;
										margin:0;
									}
									&__item {
										.topnav2__nav__container--mobile__icon {
											height: @mobilenav-height;
											min-width: 36px;
											.flexbox;
											.justify-content(center);
											.align-items(center);
										}

										&__title {
											background-color: @color-footer-bg;
											color: #fff;
											font-size: 12px;
											padding: 5px 10px;
											text-align: left;
											text-transform: uppercase;
										}

										&__link {
											text-decoration: none;
											border-top: 1px solid rgba(255, 255, 255, 0.15);
											border-bottom: 0px solid rgba(255, 255, 255, 0.15);
											.flexbox;
											.justify-content(flex-start);
											align-items: center;
											// level 1 industry title
											span:first-child {
												width:90%;
											}
											// level 1 industry chevron sass:
											.fa-chevron-right {
												width:30px;
												font-size: 10px;
											}

										}
										&--back {
											padding: 12px 20px;

											.fa-chevron-left {
												font-size: 10px;
											}

											span {
												&:nth-child(2) {
													font-size: 14px;
													text-align: left;
													padding-left: 10px;
												}
											}
										}
									}
								}
								&__items {
									@media @mobile {
										.flexbox(flex);
										.flex-flow(row nowrap);
										.justify-content(flex-start);
										position: relative;
									}
									&__item {
										align-self: center;
										height: @mobilenav-height;
										text-align: center;
										.flexbox(flex);
										.align-items(center);
										.justify-content(center);


										&--menu {
											border-right: 2px solid rgba(255, 255, 255, 0.2);
											width: 75px;
											.fa {
												color: @color-white;
												font-size: 20px;
											}
										}
										&--search {
											border-left: 1px solid rgba(0, 0, 0, 0.15);
											width: 80%;
											justify-content: center;
											&__icon {
												color: @color-white;
												font-size: 18px;
												top: 9px;
												left: 4px;
												position: relative;
											}
										}
										.fake-input {
											background-color: @color-charcoal3;
											height: @mobilenav-height - 8px;
											width:75%;
											text-align: left;
										}
										&--logo {
											width: 100px;
										}
										&--industry-icon {
											color: @color-white;
											font-size: 22px;
											width: 10%;
											.flexbox;
											.justify-content(center);
											.align-items(center);
										}
										&--shop {
											width: percentage(1/3) - 10;
											&.no-industry {
												width: 60px;
											}
											&__link {
												.flexbox;
												.justify-content(center);
												.align-items(center);
					
											}
										}
									}
                }
                
								&__logo {
									margin-top: -5px;
									width: 100%;
									padding-left:2px;
									&__wrapper {
										background-color: transparent;
										height: 50px;
										margin-bottom: -14px;
										position: relative;
										width: 100%;
										@media  @mobile {
											//.shadow(0px 3px 7px 0px rgba(0, 0, 0, 0.35));
										}
									}
									&__img {
										height: 27px;
										margin: 0 auto;
										padding-top: 6px;
									}
                }
                
			} // end &--mobile
		}
	}
}