@mobile:       ~"only screen and (max-width: 839px)";
@mobile-first: ~"only screen and (min-width : 320px) and (max-width : 480px)";
@mobile-strict: ~"only screen and (max-width : 480px)";
@nav-tablet:   ~"only screen and (max-width: 950px)";
@nav-mobile :  ~"only screen and (max-width: 600px)";
@desktop:      ~"only screen and (min-width : 840px)";
@mobile-landscape: ~"only screen and (min-width:559px) and (max-width:667px)";
@mobile-large: ~"only screen and (min-width:413px) and (max-width:558px)";
@mobile-medium:~"only screen and (min-width:376px) and (max-width:412px)";
@mobile-small: ~"only screen and (max-width:375px)";
@desktop-small-topnav2: ~"only screen and (min-width: 840px) and (max-width: 1160px)";
@desktop-small-middle-topnav2: ~"only screen and (min-width: 840px) and (max-width: 900px)";
@desktop-middle-topnav2: ~"only screen and (min-width: 1161px) and (max-width: 1279px)";
@desktop-middle-topnav2-search: ~"only screen and (min-width: 1025px) and (max-width: 1196px)";


.skew(@side: right, @deg: -10deg, @right: -15px, @width: 30px, @bg: #fff, @z-index: -1) {
	position: relative;
	&:before {
			z-index: @z-index;
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			border-right: 3px solid darken(@color-pall-logo, 10%);
			right: @right;
			display: block;
			width: @width;
			background: @bg;
			-webkit-transform: skew(@deg);
					-ms-transform: skew(@deg);
							transform: skew(@deg);
	}
}

.shadow(@shadow) {
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
  box-shadow: @shadow;
}

.transition(@transition) {
  -moz-transition: @transition;
  -webkit-transition: @transition;
  transition: @transition;
}



// --------------------------------------------------
// Flexbox LESS mixins
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
.flexbox(@display: flex) {
  display: ~"-webkit-@{display}";
  display: ~"-moz-@{display}";
  display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
  display: ~"-ms-@{display}"; // IE11
  display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
  -webkit-box-flex: @columns;
  -webkit-flex: @columns;
  -moz-flex: @columns;
  -ms-flex: @columns;
  flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
  -moz-flex-direction: @direction;
  -ms-flex-direction: @direction;
  flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
  -moz-flex-wrap: @wrap;
  -ms-flex-wrap: @wrap;
  flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
  -moz-flex-flow: @flow;
  -ms-flex-flow: @flow;
  flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
  -webkit-order: @order;
  -moz-order: @order;
  -ms-flex-order: @order;
  order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
  -webkit-flex-grow: @grow;
  -moz-flex-grow: @grow;
  -ms-flex-grow: @grow;
  flex-grow: @grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
  -moz-flex-shrink: @shrink;
  -ms-flex-shrink: @shrink;
  flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
.flex-basis(@width: auto) {
  -webkit-flex-basis: @width;
  -moz-flex-basis: @width;
  -ms-flex-basis: @width;
  flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
.justify-content(@justify: flex-start) {
  .ms-flex-justify(@value) {
      ._(@value);
      ._(space-between) { -ms-flex-pack: justify;    }
      ._(space-around)  { -ms-flex-pack: distribute; }
      ._(flex-end)      { -ms-flex-pack: end;        }
      ._(flex-start)    { -ms-flex-pack: start;      }
      ._(center)        { -ms-flex-pack: center;     }
  }

  -webkit-justify-content: @justify;
  -moz-justify-content: @justify;
  -ms-justify-content: @justify;
  justify-content: @justify;
  .ms-flex-justify(@justify);
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
.align-content(@align: stretch) {
  -webkit-align-content: @align;
  -moz-align-content: @align;
  -ms-align-content: @align;
  align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
.align-items(@align: stretch) {
  .ms-flex-align(@value) {
      ._(@value);
      ._(baseline)    { -ms-flex-align: baseline;}
      ._(stretch)     { -ms-flex-align: stretch; }
      ._(flex-end)    { -ms-flex-align: end;     }
      ._(flex-start)  { -ms-flex-align: start;   }
      ._(center)      { -ms-flex-align: center;  }
  }
  -webkit-align-items: @align;
  -moz-align-items: @align;
  -ms-align-items: @align;
  align-items: @align;
  .ms-flex-align(@align);
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
.align-self(@align: auto) {
  .ms-flex-align-self(@msSelfAlign) when (@msSelfAlign = flex-end) {
      -ms-flex-item-align: end;
  }

  .ms-flex-align-self(@msSelfAlign) when (@msSelfAlign = flex-start) {
      -ms-flex-item-align: start;
  }

  .ms-flex-align-self(@msSelfAlign) when (@msSelfAlign = auto), (@msSelfAlign = center),(@msSelfAlign = baseline), (@msSelfAlign = stretch) {
      -ms-flex-item-align: @msSelfAlign;
  }

  -webkit-align-self: @align;
  -moz-align-self: @align;
  -ms-align-self: @align;
  align-self: @align;
  .ms-flex-align-self(@align);
}