

@import "topnav-colors";
@import "topnav-mixins";
@import "topnav2-mobile";
@import "mobile-slide-menu";
@import "mega-menu";
@import "dl-menu";
@import "switch-tiles";

@color-topnav-bg:#1B1B1B;
@nav-height: 42px;
@z-index-overlay-mobile: 5;
@z-index-navbar: 1010;
@z-index-navbar-links: 1011;

// standard industry colors;
.pallblue { background-color:  @color-pallblue;}
.aerospace {	background-color:  @color-aerospace; }
.oilgas 		{	background-color:  @color-oilgas; }
.laboratory {	background-color:  @color-laboratory; }
.biopharma {	background-color:  @color-biopharma; }
.chemicals {	background-color:  @color-chemicals; }
.microelec {	background-color:  @color-microelec; }
.power {	background-color:  @color-power; }
.industrial {	background-color:  @color-industrial; }
.medical {	background-color:  @color-medical; }
.food {	background-color:  @color-food; }
.pallwater {	background-color:  @color-pallwater; }

// darker background colors for right and left columns
.bg-pallblue-dark { background-color: #13304a; }
.bg-aerospace-dark { background-color:	#12435b; }
.bg-oilgas-dark { background-color: #2d1d1b;}
.bg-laboratory-dark { background-color:	#21414c; }
.bg-biopharma-dark { background-color:	#163d53 }
.bg-chemicals-dark { background-color:	#283f3c; }
.bg-microelec-dark { background-color:	#32411f; }
.bg-power-dark { background-color:	#4c3223; }
.bg-industrial-dark { background-color:	#1b2334; }
.bg-medical-dark { background-color:	#193a59; }
.bg-food-dark { background-color:	#20361f; }
.bg-pallwater-dark { background-color:	#13304a; }

// colors for left border on mobile view
.bl-aerospace {	border-left: 3px solid @color-aerospace; }
.bl-oilgas 		{	border-left: 3px solid @color-oilgas; }
.bl-laboratory {	border-left: 3px solid @color-laboratory; }
.bl-biopharma {	border-left: 3px solid @color-biopharma; }
.bl-chemicals {	border-left: 3px solid @color-chemicals; }
.bl-microelec {	border-left: 3px solid @color-microelec; }
.bl-power {	border-left: 3px solid @color-power; }
.bl-industrial {	border-left: 3px solid @color-industrial; }
.bl-medical {	border-left: 3px solid @color-medical; }
.bl-food {	border-left: 3px solid @color-food; }
.bl-pallwater {	border-left: 3px solid @color-pallwater; }



body { //just for this static version
	margin:0;
	padding:0;
	font-family: arial;
}

// scroll direction toggles for onScrollUp js code
.hide {
	top:-1000px;
	opacity: 0;
}
.show {	
	top: 0;	
	opacity: 1; 
}

.topnav2 {
	//resets --------------------
	a {
		color: #fff;
	}
	ul, p {	
		list-style: none;
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
	}
	.pall-layout {
			width: 92%;
			padding: 0 4%;

			margin: auto;
	}
	// end resets --------------------


	&--scroll-disabled {
		height: 100%;
		overflow: hidden;
	} 

	&__nav {
		background-color: black;
		position: relative;
		//top: 0;
		z-index: @z-index-navbar;

		&--sticky {
			position: fixed;
			top: 0;
			width: 100%;
			.transition(top 0.7s ease-in-out);
		}

		&__container {
			position: relative;
			@media @mobile {
				display: none;
			}
			@media @desktop {
				.flexbox(flex);
				.justify-content(space-around);
			}
			&__logo {
				background-color: @color-pall-logo;
				.skew(@bg: @color-pall-logo, @deg: -10deg, @right: -8px, @width: 14px, @z-index: 1);
				width: 82px;
				height: 55px;
				padding-left: 10px;
				padding-right: 5px;
				.flexbox(flex);
				.align-items(center);
				&__img {
					height: auto;
					width: auto;
				}
			}
			&__items {
				position: relative;
				width: 100%;
				.flexbox;
				.flex-flow(row nowrap);
				&__item {
					width: 100px;
					white-space: nowrap;
					&--main {
						margin-bottom: -13px;
						min-width:204px;
						//.shadow(0px 3px 7px 0px rgba(0, 0, 0, 0.35));
					}
					&__link {
						display: block;
						font-size: 12px;
						padding: 15px;
						text-decoration: none;
						text-transform: uppercase;
					}
					&--logo {
						margin-bottom: -13px;
						margin-top: -5px;
						* {
							box-sizing: content-box;
						}
						@media  @desktop-middle-topnav2 {
							margin-left: 0;
						}
						@media  @desktop-small-topnav2 {
							margin-left: 0;
						}
					}
					&--industries {
						height: 55px;
						margin-bottom: -20px;
						margin-top: -5px;
						position: relative;
						width: 80px;
						@media @desktop-small-middle-topnav2 {
							// width: 150px;
						}
						&__link {
							font-size: 14px;
							text-decoration: none;
							&__container {
								&__text {
									border-right: 1px solid rgba(255, 255, 255, 0.15);
									box-sizing: border-box;
									height: 100%;
									padding-left: 6px;
									width: 76%;
									.flexbox();
									.align-items(center);
									.justify-content(center);
									.topnav2__icon {
										font-size: 12px;
										margin-right: 5px;
									}
								}
								&__icon-dropdown {
									background: linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 50%);
									border-left: 1px solid rgba(0, 0, 0, 0);
									height: 100%;
									padding-left: 1px;
									position: absolute;
									right: 0;
									top: 0;
									width: 22%;
									.flexbox();
									.align-items(center);
									.justify-content(center);
									[class*=" icon-"],
									[class^="icon-"] {
										font-size: 8px;
									}
								}
							}
						}
						&__subnav {
							background-color: @color-charcoal1;
							display: none;
							position: absolute;
							top: 100%;
							width: 100%;
							&.active {
								.flexbox;
								.flex-flow(column wrap);
							}
							&__item {
								&:not(.industry-item) {
									background: linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 50%);
									&.inactive {
										background-color: darken(@color-charcoal1, 10%);
										a {
											color: #808080;
										} 
									}
								}
								&__link,
								&__separator {
									font-size: 14px;
									padding: 12px;
									text-decoration: none;
									.flexbox;
									.justify-content(space-between);
									[class*=" icon-"],
									[class^="icon-"] {
										font-size: 10px;
									}
									.fa {
										font-size: 10px;
									}
								}
								&__separator {
									color: @color-white;
									font-size: 10px;
									padding-bottom: 5px;
									padding-top: 5px;
									text-transform: uppercase;
								}
								&__third-level {
									background-color: crimson;
									box-sizing: border-box;
									font-size: 14px;
									height: auto;
									left: 0;
									line-height: 27px;
									min-height: 500px;
									padding: 1em 2em;
									position: absolute;
									top: 0;
									width: 508px;
									a {
										color: @color-text;
										padding: 0;
									}
									&__image {
										right: -189px;
										position: absolute;
										bottom: -147px;
										@media @desktop-small-topnav2 {
											right: -109px;
											bottom: -97px;
											width: 400px;
										}
										@media @desktop-middle-topnav2 {
											right: -136px;
											bottom: -114px;
											width: 500px;
										}
									}
									&.active {
										.flexbox;
										.flex-flow(row wrap);
										.justify-content(flex-start);
										.align-content(flex-start);
									}
									&__link {
										.flexbox;
										font-size: 14px;
										line-height: 30px;
										width: 100%;
										&__icon {
											font-size: 14px;
											line-height: 30px;
										}
										&__text {
											color: @color-text;
											padding-left: 5px;
										}
									}
									&__block {
										padding-top: 1em;
										width: 50%;
										color: @color-text;
										&__title {
											font-size: 20px;
											line-height: 26px;
										}
										&__list {
											text-indent: 5px;
											li {
												position: relative;
												z-index: @z-index-navbar-links;
											}
										}
										&.hidden {
											display: none;
										}
									}
									&__footer-bar {
										height: 28px;
										width: 100%;
										.shadow(0px 3px 7px 0px rgba(0, 0, 0, 0.35));
										margin: 0 -2em -1em;
										padding-right: 2em;
										padding-left: 2em;
									}
								}
							}
						}
					}
					&--global {
						width: 50px !important;

						.icon-shop {
							font-size: 20px;
							position:relative;
							top: 10px;
							left: 10px;
						}
						
						&__link {
							font-size: 14px;
							text-decoration: none;
							&__container {
								&__text {
									border-right: 1px solid rgba(255, 255, 255, 0.15);
									box-sizing: border-box;
									font-size: 20px;
									height: 100%;
									.flexbox();
									.align-items(center);
									.justify-content(center);
									.topnav2__icon {
										font-size: 25px;
										margin-right: 5px;
									}
								}
								&__icon-dropdown {
									background: linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 50%);
									border-left: 1px solid rgba(0, 0, 0, 0);
									height: 100%;
									padding-left: 1px;
									position: absolute;
									right: 0;
									top: 0;
									width: 30%;
									.flexbox();
									.align-items(center);
									.justify-content(center);
									[class*=" icon-"],
									[class^="icon-"] {
										font-size: 8px;
									}
								}
							}
						}
						&__subnav {
							background-color: @color-charcoal3;
							display: none;
							position: absolute;
							top: 100%;
							width: 100%;
							&.active {
								.flexbox;
								.flex-flow(column wrap);
							}
							&__item {
								&:not(.industry-item) {
									background: linear-gradient(-45deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 50%);
									&.inactive {
										background-color: darken(@color-charcoal1, 10%);
										a {
											color: @color-charcoal1;
										}
									}
								}
								&__link,
								&__separator {
									border-bottom: 1px solid rgba(255, 255, 255, 0.15);
									border-top: 1px solid rgba(0, 0, 0, 0.15);
									font-size: 14px;
									padding: 12px;
									text-decoration: none;
									.flexbox;
									.justify-content(space-between);
									[class*=" icon-"],
									[class^="icon-"] {
										font-size: 10px;
									}
									.fa {
										font-size: 10px;
									}
								}
							}
						}
					}
					&.search {
						height: 100%;
						width:50%; // controls width of serch input
						padding-left:0%;
						text-align: center;
						@media @mobile {
							display: none;
						}
						// @media @desktop-middle-topnav2 { //(min-width: 1161px) and (max-width: 1279px)
						// 	width:50%; // controls width of serch input
						// }
						@media @desktop-small-topnav2 { // max 1160 min 840
							width:32%; // controls width of serch input
						}
					}
				}
			}
			&__search {
				&--mobile {
					display: none;
					height: @mobilenav-height;
					left: 4px;
					position: absolute;
					top: 0px;
					width: 100vw;
					text-align:left;
					&.active {
						display: block;
						background-color: black;
					}
				}
				&__form {

					.fa-times-circle {
						font-size: 1.5rem !important;
						color: #777 !important;
					}

					.icon-search {
						font-size: 1.1rem;
						color: #fff;
						position: relative;
						top: 4px;
						left: 30px;

					}
					.fa-search { 
						position: relative;
						top: 4px;
						left: 30px;
						font-size: 1.1rem;
						color: #FFF;
					}



					&.cf:before {
						content: "";
						display: table;
					}
					&.cf:after {
						content: "";
						display: table;
						clear: both;
					}
					&.cf {
						height: 100%;
						zoom: 1;
					}
					&__input {
						height: ~"calc(@{mobilenav-height} - 8px)";
						width: 85%;
						background-color: @color-charcoal3;
						border: 0;
						box-sizing: border-box;
						color: @color-topnav-search-text;
						padding: 10px 5px;
						text-indent: 30px;
						margin-top:4px;
						@media @mobile {
							width: 91%;
							font-size: 13px;
							padding: 10px 5px;
							border-radius: 3px;
							margin-top:4px;
						}

					  // in between and landscape
						@media @mobile-landscape { 
							width: 88%;
						}

						// large newer smartphones 
						@media @mobile-large { 
							width: 84%;
						}
				
						// large newer smartphones 
						@media @mobile-medium { 
							width: 83%;
						}
						// small phones
						@media @mobile-small { 
							width: 80%;
						}
					}
					@media @desktop-small-topnav2 {
						&:hover {
							
							.topnav2__nav__container__search__form__button {
								&:before {
									border-width: 8px 8px 8px 0;
								}
							}
						}
					}
					&__button {
						height: 100%;
					}
					.button {
						border: 0;
						color: @color-white;
						cursor: pointer;
						//float: right;
						font-size: 14px;
						overflow: visible;
						padding: 0;
						position: relative;
						text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
						@media @mobile {
							span {
								padding: 4px;
							}
						}

					}

					&__button--close {
					.button;
						@media @mobile {
		
							margin-right: 10px;
							margin-left: -35px;
							right:30px;
							top:3px;
							background-color:transparent;
						}
					}

					&__button--go {
						.button;
						@media  @mobile {
							width: 32px;
							height: 30px;
							border-radius: 4px;
							margin-right: 4px;
							margin-left: -39px;
							margin-top: 2px;
						}
					}
					&__button--cancel {
						height: 100%;
						.button;
						@media  @mobile {
							width: 50px;
							height: 30px;
							margin-left: 0px;
							background-color:#000;
						}
					}
				}
			}
		}

		&__overlay--mobile {
			background-color: @color-black;
			height: 100%;
			opacity: 0.85;
			position: fixed;
			width: 0;
			z-index: @z-index-overlay-mobile;
			&--visible {
				width: 100%;
			}
		}
	}
}



.diff-panel-content {
	background-color: #ffffff !important;
}